img {
  max-width: 100%;
  width: auto;
  height: auto;
}

body {
  background-color: #f4c2c2;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswsidecol {
  float: right;
  width: 20%;
  color: black;
  background-color: #f4c2c2;
}

div#tswcontent {
  float: right;
  width: 80%;
  color: black;
  background-color: #f4c2c2;
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
  background-color: #f4c2c2;
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswheader {
  color: black;
  background-color: #f4c2c2;
}

div#tswfooter {
  color: black;
  background-color: #f4c2c2;
}

div#tswsidecol {
  background-color: #f4c2c2;
}

img {
  max-height: 100px;
}

#logo {
  display: block;
  margin-left: 1px;
  margin-right: auto;
  margin-top: 1px;
}

body {
  font-family: "Constantia", "Britannic", "Times New Roman";
  font-size: 100%;
}

